@using ShopMagazin.Controllers
@model ShopMagazin.Models.User
<link rel="stylesheet" type="text/css" href="~/css/style_list.css" />
<div class="modal-content">
    <div class="modal-windows">
        <div class="obratnii-zvonok">
            <div class="form-edit fformms" style="padding: 30px; background-color: #fff; border-radius: 5px; box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 12%); color: #696969; ">
                <div class="zvonok-title">Изменение данных пользователя</div>
                <form asp-controller="Home" asp-action="ChangePasswordModal" method="post" class="callback-from">
                    <div class="form-zap">
                        <label class="nonrequired">ID: @Html.DisplayFor(model => model.Id)</label>
                    </div>
                    <div class="form-zap">
                        <label class="nonrequired" style="font-size: 19px;">Введите новый пароль пользователя:</label>
                        <input type="password" class="inputs tel-in" asp-for="Password">
                        <span asp-validation-for="Password" style="color: red;"></span>
                    </div>
                    <script type="text/javascript" src="~/js/script_list.js"></script>
                    <div class="form-zap">
                        <div class="btn-center">
                            <input class="sbm-zvonok" type="submit" value="Изменить" />
                        </div>
                    </div>
                </form>
                <div class="btn-center">
                    <button class="sbm-zvonok otm" style="background-color: #c4c4c4; margin-top: 15px; color: White;" onclick='$(".modal-content").remove();'>Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>