@model IEnumerable<ShopMagazin.Models.ObratZvonok>
@{
    ViewData["Title"] = "Список обратных звонков";
}

<link rel="stylesheet" type="text/css" href="~/css/style_table.css" />
<div class="conyds">
    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>


    <h2>@ViewData["Title"]</h2>



    <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
            <thead>
                <tr>
                    <th scope="col">Имя пользователя</th>
                    <th scope="col">Телефон пользователя</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Ima</td>
                        <td>@item.Telefon</td>
                        <td>
                            <a asp-controller="Home" asp-action="ObrabotkaModal" class="edus" asp-route-id="@item.Id" style="text-decoration: none; margin-right: 15px; color: #C62306;">
                               Обработка звонка
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".remov").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').show();
                });
            });
        });

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".edus").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').show();
                });
            });
        });

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".addbtn").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').show();
                });
            });
        });

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".chpass").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').show();
                });
            });
        });
    </script>
}
